/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
h2{
	font-size:22px;
}

p{
	font-size:14px;
 }
	

h3{
	font-size:18px;
}

.margin-top{
	margin-top:20px;	
}
.margin-t-top{
	margin-top:20px;
}
/*single problem start*/
#problem, #product {
    padding:  0;
}
.single-content {
    padding-top: 20px;
}
.singel-problem {
    margin-bottom: 40px;
}
/*single problem end*/
}


}

/*/Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
 
h2{
	font-size:26px;
}
p{
	font-size:14px;
 }
	
.banner-text {
    padding: 50px 0;
}
h3{
	font-size:24px;
}
.margin-top{
	margin-top:30px;
}
/*single problem start*/
#problem, #product {
    padding: 30px 0;
}
.single-content {
    padding-top: 0px !important;
}
.singel-problem {
    margin-bottom: 40px;
}
/*single problem end*/


}

/*/Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

h2{
	font-size:28px;
}
h3{
	color:#004673;
	font-size:28px;
}
p{
	font-size:14px;
 }
.banner-content{
	margin-top:0;
}
 
 .banner-img {
    margin-top: 30px;
}

/*single problem start*/
.single-content {
    padding-top: 0px;
}
/*single problem end*/
}